body {
    font-family: sans-serif; /* Use a clean, modern font */
    margin: 0; /* Remove default margins for a clean canvas */
}

h1, h2 {
    text-align: center; /* Centre the headings */
    color: blue; /* Dark grey colour for the text */
    font-size: xx-large;
}



table {
    width: 80%; /* Make the table take up 80% of the container's width */
    margin: 20px auto; /* Centre the table horizontally */
    border-collapse: collapse; /* Remove extra spacing between table cells */
}

th, td {
    border: 1px solid #ddd; /* Add thin grey borders to cells */
    padding: 8px; /* Add some padding inside the cells */
    text-align: left; /* Align text to the left */
}

th {
    background-color: #f2f2f2; /* Light grey background for table headers */
}

img {
    display: block; /* Makes the image behave like a block element */
    margin: 20px auto; /* Centres the image horizontally */
    max-width: 100%; /* Ensures the image scales proportionally */
    height: auto; /* Maintains aspect ratio */
}

p {
    text-align: center; /* Centre the headings */
    color: #333; /* Dark grey colour for the text */
}

a {
    display: block; 
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    text-decoration: none; /* Remove default underline */
}

a:hover {
    background-color: #45a049; /* Darker green on hover */
}

#finance-plugin-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    max-width: 600px;
  }

  button#apply-finance-button {
	display: block;
	width: 200px;
	margin: 20px auto;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

button#apply-finance-button:hover {
	background-color: #45a049;
}